<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>id {{ object.id }}: {{ object.full_name }}</title>
</head>
<body>
<div>
    <h3>
        {{ object.full_name }}, a {{ object.age }} year old,
        {{ object.race }} {{ object.gender|lower }} died on {{ object.date }}
        in a {{ object.type|lower }} incident at {{ object.address }}
        {% if object.neighborhood|length != 0 %}
            in {{ object.neighborhood }}.
        {% else %}
            .
        {% endif %}
    </h3>
</div>

<div class="more-detail"><h3>{{ object.full_name }}</h3></div>
    <div>location (lat/lon) : {{ object.x }}, {{ object.y }}</div>
    <div>date of incident : {{ object.date }}</div>
    <div>address : {{ object.address }}</div>
    <div>neighbourhood : {{ object.neighborhood }}</div>
    <div>cause of death : {{ object.type }}</div>
    <div>{{ object.story }}</div>
    <div><a href="{{ object.url }}">go to article</a></div>
</body>
</html>